
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*
  <----- Navbar styling ----->
*/

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
/*
  <----- Footer styling ----->
*/

// Used for a sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*
  <----- Homepage styling ----->
*/

.main-text-block {
  max-height: 300px;
  height: 300px;
}

.side-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 46.66666667%;
  flex: 1 0 46.666667%;
  max-width: 46.666667%;
}

/*
  <----- Form styling ----->
*/

.form-box {
  background-color: #fff;
  padding: 15px;
}

/*
  <----- Page styling ----->
*/

.page-header {
  font-family: 'Galdeano', sans-serif;
  font-size: 35px;
}