// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*
  <----- Navbar styling ----->
*/

//Fixed navbar on mobile
@media (max-width: 450px) {
  body {
    margin-top: 50px;
  }
  .navbar {
    z-index: 1200;
    position: fixed;
    right: 0;
    left: 0;
    border-radius: 0;
    top: 0;
  }
}

p {
  font-family: 'Raleway', sans-serif;
}
.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  background: rgba(255, 255, 255, 1);
}

/*
  <----- Footer styling ----->
*/

// Used for a sticky footer
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: rgba(200, 200, 200, 0.40);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  -moz-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 2px lightgray;
  background: #f8fafc;
  color: rgba(0, 0, 0, 0.5); /* Vertically center the text there */
}

/*
  <----- Homepage styling ----->
*/

.main-text-block {
  background: #ebf1f6;
  height: 300px;
  padding-top: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.16);
}

.side-block {
  -webkit-box-flex: 0;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  margin-top: 25px;
}

@media (min-width: 768px) {
  #left-block {
    left: 15px;
    top: -50px;
  }
  #right-block {
    right: 15px;
    top: -50px;
  }
  .home-card-img {
    width: 300px;
    height: auto;
  }

}

.nav-logo {
  height: 50px;
  width: auto;
}

/*
  <----- Form styling ----->
*/

.form-box {
  background-color: #fff;
  padding: 15px;
}

/*
  <----- Page styling ----->
*/

.page-header {
  font-family: 'Galdeano', sans-serif;
  margin-bottom: 30px;
  font-size: 35px;
  padding-top: 30px;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.toggle.off {
  border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
  background-color: white;
  border: thin rgba(0, 0, 0, .25) solid;
}

.no-link, a:hover.no-link {
  text-decoration: none;
  color: black;
}

.custom-card {
  min-height: 300px;
  width: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.organisation-card {
  min-height: 560px;
}

.list-card {
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
}
// Card styling on phone
@media only screen and (max-width: 575px) {
  .list-card {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .progressbar {
    left: 0;
    width: 100%;
  }
}

.list-card:hover {
  background: #f3f3f3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.img-h-250 {
  height: 250px;
  width: auto;
  margin: 0px auto;
}

// Form styling

.contact-form {
  box-shadow: 5px 5px 10px grey;
  background: #f3f3f3;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-form form {
  padding: 5% 10%;
  padding-bottom: 10%;
}

.contact-form form .row {
  margin-bottom: -7%;
}

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  font-weight: 600;
  cursor: pointer;
  background-color: #4584AB;
  color: #F3F3F3;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.form-control-file {
  overflow: hidden !important;
}

.custom-img {
  width: auto;
  max-height: 350px;
}

// Bootstrap overwrites

.btn-outline-dark:hover {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.progress-bar {
  background-color: black;
  color: white;
}

:root {
  --threshold: 0.6;
  --border-threshold: 0.8;
}
